<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <package id="googlechrome" />
    <package id="firefox" />
    <package id="python3" />
    <package id="nvm" />
    <package id="golang" />
    <package id="dotnet" />
    <package id="mingw" />
    <package id="vscode" />
    <package id="cascadiacode" />
    <package id="wsl2" />
    <package id="wsl-ubuntu-2004" />
    <package id="microsoft-windows-terminal" />
    <package id="git" />
    <package id="gh" />
    <package id="yarn" />
    <package id="pycharm" />
    <package id="blender" />
    <package id="obs-studio" />
    <package id="discord" />
    <package id="slack" />
    <package id="microsoft-teams" />
    <package id="postman" />
    <package id="unity-hub" />
    <package id="spotify" />
    <package id="docker-desktop" />
    <package id="geforce-experience" />
    <package id="jre8" />
    <package id="epicgameslauncher" />
    <package id="quicklook" />

    <package id="goggalaxy" />
    <package id="steam-client" />
    <package id="autohotkey" />
    <package id="vlc" />
    <package id="peazip" />
    <package id="youtube-dl-gui" />
    <package id="qbittorrent" />
    <package id="insomnia-rest-api-client" />
  </packages>